.main{width: 1200px;margin:0 auto;}
/* 核心部分，，json接收数据的部分 */
.main .change{margin:18px 0;height:553px;background:#fff;border: 1px solid #c1c2c2;}
.main .change .change_left{float: left;width: 399px;height: 553px;border-right: solid 1px #ddd;}
.main .change .change_left .img img{display: block;width: 364px;height: 390px;margin: 15px auto;}
.main .change .change_left .advert{margin:0 17.5px;}
.main .change .change_left .advert img{width: 364px;height: 75px;cursor: pointer;}
.main .change .change_left .tool{margin-top: 10px;}
.main .change .change_left .tool .collect{float: left;padding-left: 15px;width: 65px;height: 20px;line-height: 20px;}
.main .change .change_left .tool .collect a{background:url(../login.images/c_ioc3_1.jpg) no-repeat left;padding-left:20px;}
.main .change .change_left .tool .collect a:hover{background:url(../login.images/c_ioc3.jpg) no-repeat left;}
.main .change .change_left .tool .share{float:right;width: 114px;height: 38px;}
.main .change .change_left .tool .share a{float: left;width: 32px;height: 32px;background-image: url(../login.images/icons_0_32.png);background-repeat: no-repeat;cursor: pointer;margin: 6px 6px 6px 0;}
.main .change .change_left .tool .share a:nth-child(1){background-position: 0 -1612px;}
.main .change .change_left .tool .share a:nth-child(2){background-position: 0 -104px;}
.main .change .change_left .tool .share a:nth-child(3){background-position: 0 -52px;}
.main .change .change_right{float: left;padding: 25px 25px 0 25px;width: 748px;}
.change_right{float: left;padding:25px 25px 0 25px;width:748px;}
.change_right h1{height:50px;font-size:24px;color:#333;text-align:left;line-height:50px;}
.change_right ul{width:748px;font-size:14px;color:#333;}
.change_right li{float:left;width:374px;text-align:left;line-height:40px;}	
.change_right li span{display:block;float:left;width:75px;text-align:left;}
.change_right li span.hjs-s-p{width:auto;padding:0 10px;color:#f00;font-size:14px;}
.change_right_line{min-height:180px;height:auto;border-bottom:1px dashed #e5e5e5;}
.change_right_line li{line-height:25px;padding:8px 0;}
.change_right_line li span{float:left;}
.change_right_line li em{float:left;word-wrap:break-word;width:295px;}
.change_right_line .c_gys {float: left;min-width: 50px;margin-left: 5px;text-align: center;font-size: 14px;text-decoration: underline;color: #484848;}
.change_right_line .c_gys:hover {background-color: transparent;color: #36bc7c;text-decoration: none;}
.ib_bubble img {width: 30px;height: 30px;vertical-align: middle;margin-top: -2px;}
.change_right_line .c_gys a{display:block;background-color:#16c48f;color:#FFFFFF;}
.change_right_ul{display:block;width:748px;height:150px;line-height:40px;overflow:hidden;z-index:-1;	}
.change_right_ul li{float:left;margin-top:10px;width:374px;height:40px;text-align:left;}
.change_right_ul .change_right_txt{width:auto;height:40px;font-size:18px;color:#000;line-height:40px;}
.change_right_ul .change_right_txt span{  display:block;float:left;width:55px;text-align:left}
.change_right_ul .change_right_input{position:relative;margin:5px;float:left;width:77px;height:31px;}
.change_right_ul .c_right_input{float:left;width:54px;height:29px;border:1px solid #ababab;line-height:29px;text-align:center;}
.change_right_ul .c_right_input_bottom1,.c_right_input_bottom2{position:absolute;right:0px;width:20px;height:14px;line-height:0;font-size:0;border:1px solid #ababab;}
.change_right_ul .c_right_input_bottom1{top:0px;background:url(../login.images/c_ioc5.jpg) no-repeat;}
.change_right_ul .c_right_input_bottom2{bottom:0px;background:url(../login.images/c_ioc6.jpg) no-repeat;}
.change_right_ul .change_rightp{float:left;margin-left:10px;width:auto;}
.change_right_ul .c_dlkj {float:left;min-width:50px;margin:5px 0 0 5px;padding:0 10px;height:30px;background-color:#FFFFFF;border:1px solid #e5e5e5;text-align:center;line-height:30px;}
.change_right_ul .c_dlkj a{display:block;background-color:#16c48f;color:#FFFFFF;}
.change_right_ul .c_dlkj:hover{background-color:#16c48f;color:#FFFFFF;}
.change_right_ul li .price{float:left;padding-right:20px;color:#f60;font-size:26px;}
.c_big_bonttem1,.c_big_bonttem2{float:left;margin-top:20px;}
.c_big_bonttem1 input, .c_big_bonttem2 input{float:left;width:135px;height:45px;font-size:16px;color:#FFF;text-align:center;line-height:45px;border:none;}
.c_big_bonttem1{margin-left:80px;}
.c_big_bonttem1 input{background-color:#16c48f;}
.c_big_bonttem2{margin-left:20px;}
.c_big_bonttem2 input{background-color:#fc9530;}
/* 核心部分，，json接收数据的部分结束 */

.add{margin:100px auto}
.main .hd{height:42px;line-height:40px;}
.main .hd li{width:120px;line-height:40px;color:#666; font-size:18px;border-bottom:2px #ccc solid;float:left;cursor:pointer;}
.main .hd .act{color:#ff643a;border-bottom:2px #ff643a solid;}
.main .bd{position: relative;background: #fff;width:100%;height: 260px;overflow: hidden;}
.main .bd .pic{height: 160px;margin-bottom: 10px;}
.main .bd .scrollCont{height:250px;width:1666px;position:absolute;}
.main .bd .scrollCont1{left:0;}
.main .bd .scrollCont2{left:-1666px;}
.main .bd .item{width: 188px;padding: 0px 20px;text-align: center;height: 250px;margin: 5px;float:left;}
.main .bd .item img{height: 190px;width: 190px;cursor:pointer;}
.main .bd .item .name{height: 40px;}
.main .bd .item .name h3{font-size: 14px;line-height: 20px;font-weight: normal;}
.main .bd .item .practive{line-height: 20px;color: #999;font-size: 12px;}
.main .bd .item .practive strong{font-size: 20px;color: #990000;}
.main .bd .item:hover{box-shadow:0px 0px 8px #aaa;}
