
@charset "utf-8";
/* CSS Document */
*{
	padding: 0;
	margin: 0;
}
*html{  
    background-image:url(about:blank);
    background-attachment:fixed;
}
body {
	width:100%;
	height:100%;
	font: 12px 'microsoft yahei', 'simsun';
	background-color: #f5f5f5;
	color: #545454;
	min-width: 1200px;
	*text-align: center;
}

ul, li, ol {
	list-style: none;
}

img {
	vertical-align: top;
	border: none;
}

h1, h2, h3, h4, h5, h6, strong {
	font-weight: normal;
	font-size: 100%;
}

u, em, i {
	font-style: normal;
	text-decoration: none;
}

input, textarea, select {
	resize: none;
	background: #fff;
	color: #545454;
}
 input[type=button]{
 	cursor:pointer;
 }

a, a:visited {
	font-size: 12px;
	color: #545454;
	text-decoration: none;
	outline: none;
}

a:hover {
	color: #396;
}
.clear{
	clear:both;
}

/*  --header--  */
.header {
	background-color: #fff;
	position: relative;
	z-index: 1;
}

.header .top {
	width: 100%;
	height: 30px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e9e9e9;
}

.header .top .top_inner {
	height: 30px;
	line-height: 30px;
	width: 1200px;
	margin: 0 auto;
}

.header .top .top_inner a.favorite {
	float: left;
	padding: 0 0 0 20px;
	height: 30px;
	line-height: 30px;
	background: url(../images/icon_favorite.png) 0 center no-repeat;
	_background: url(../images/icon_favorite.gif) 0 center no-repeat;
}

.header .top .top_inner .links {
	float: right;
	height: 32px;
	line-height: 32px;
}

.header .top .top_inner .links a {
	padding: 0 5px;
	color: #545454;
}

.header .top .top_inner .links a:hover {
	color: #396;
}

.header .inner {
	margin: 0 auto;
	width: 1200px;
	height: 107px;
	position: relative;
}

.header .inner .logo {
	margin: 29px 0 0;
}

.header .inner .logo a, .header .inner .logo {
	float: left;
	width:295px;
	height:49px;
}

.header .inner .logo a {
	background: url(../images/logo_1208.png) 0 0 no-repeat;
	text-indent: -10000px;
}

.header .inner .search {
	float: left;
	margin: 35px 0 0 50px;
	width: 520px;
	height: 60px;
}

.header .inner .search .search_form {
	height: 36px;
}

.header .inner .search .search_form .input_text {
	float: left;
	padding: 0 10px;
	/*width: 420px;*/
	width: 80%;
	height: 34px;
	font-size: 14px;
	line-height: 34px;
	border: 1px solid #396;
}

.header .inner .search .search_form .input_button {
	float: left;
	width: 78px;
	height: 36px;
	background-color: #396;
	color: #fff;
	font-size: 14px;
	border: none;
}

.header .inner .search .hot_words {
	height: 24px;
	line-height: 24px;
	color: #396;
	*text-align: left;
	float: left;
	overflow:hidden;
}

.header .inner .search .hot_words a {
	color: #396;
	padding: 0 5px;
}

.header .inner .top_text {
	float: right;
	_width: 200px;
	_overflow: visibility;
	_white-space: nowrap;
	margin: 35px 0 0;
	height: 41px;
}

.header .inner .top_text .hotline {
	padding: 0 0 0 35px;
	height: 21px;
	line-height: 21px;
	color: #396;
	background: url(../images/icon_cs.png) 0 center no-repeat;
	_background: url(../images/icon_cs.gif) 0 center no-repeat;
}

.header .inner .top_text .hotline strong {
	color: #ff9432;
	font-size: 14px;
}

.header .inner .top_text .certificate {
	height: 20px;
	line-height: 20px;
	color: #666;
	text-align: right;
}

.header .inner .headertitl_3 {
	float: left;
	_display: inline;
	margin: 26px 0 0 20px;
	height: 55px;
	color: #000;
	font: 22px/55px bold "Microsoft Yahei";
}

.header .inner .payinfo_lr {
	position: absolute;
	top: 40px;
	right: 0px;
	width: 300px;
	padding: 0 0 0 40px;
	font-size: 18px;
	line-height: 24px;
	color: #666666;
	background: url(../images/2015011606.jpg) left center no-repeat;
	text-align: left;
}

.header .inner .payinfo_lr em {
	font: bold 24px/24px "Microsoft Yahei";
	color: #339966;
}

.header .navgation {
	height: 39px;
	background-color: #396;
	position: relative;
	z-index: 2;
	overflow: visible;
}

.header .navgation .nav_inner {
	margin: 0 auto;
	width: 1200px;
	height: 39px;
	position: relative;
	z-index: 3;
	overflow: visible;
}

.header .navgation .nav_inner .btn_category {
	float: left;
	width: 216px;
	height: 39px;
	position: relative;
	z-index: 4;
	overflow: visible;
}

.header .navgation .nav_inner .btn_category .btn_category_text {
	float: left;
	width: 216px;
	height: 39px;
	line-height: 39px;
	text-align: center;
	font-size: 15px;
	color: #fff;
	cursor: pointer;
/* //	background:url(../images/arrow_category_down.gif) 180px center no-repeat; */
}
.header .navgation .nav_inner .active .btn_category_text {
	/* //background:url(../images/arrow_category_up.gif) 180px center no-repeat; */
}
/*  分类列表  */
.header .navgation .nav_inner .categoryList {
	display:none;
	position:absolute;
	top:39px;
	left:0px;
	width:214px;
	height:492px;
	border:1px solid #5bc792;
	*text-align:left;
	z-index:9999;
	background-color:#fff;
}

.header .navgation .nav_inner .categoryList .category {
	position: relative;
	*float: left;
	*width: 100%;
	height: 61px;
}

.header .navgation .nav_inner .categoryList .category .category_name {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 215px;
	height: 61px;
	z-index: 10001;
}

.header .navgation .nav_inner .categoryList .category .category_name .icon{
	margin: 15px 0 0 25px;
	float: left;
	width: 24px;
	height: 24px;
}

.header .navgation .nav_inner .categoryList .category .category_name .name{
	margin: 10px 0 0;
	float: right;
	width: 155px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #676767;
}
.header .navgation .nav_inner .categoryList .category .category_name .name:hover{
	color:#f60;
}
.header .navgation .nav_inner .categoryList .category .category_name .category_words{
	float: right;
	width: 155px;
	height: 20px;
	line-height: 20px;
	overflow:hidden;
}

.header .navgation .nav_inner .categoryList .category .category_name .category_words a{
	padding-right: 10px;
	color: #a4a4a4;
}
.header .navgation .nav_inner .categoryList .category .category_name .category_words a:hover{
	color:#f60;
}
.header .navgation .nav_inner .categoryList .category .category_sub {
	display: none;
	position: absolute;
	left: 214px;
	padding: 40px;
	width: 670px;
	height: 412px;
	border: 1px solid #5bc792;
	z-index: 10000;
	background-color: #fff;
	overflow:auto;
}

.header .navgation .nav_inner .categoryList .category .category_sub li {
	float: left;
	width: 100%;
	
}

.header .navgation .nav_inner .categoryList .category .category_sub li .sub_name{
	float: left;
	padding: 0 ;
	width: 680px;
	height: 20px;
	line-height: 20px;
	font-weight: bold;
	color: #656565;
	border-bottom: 1px solid #e1e1e1;
}

.header .navgation .nav_inner .categoryList .category .category_sub li .sub_list span{
	position:absolute;
	right:0;
	color: #3eba7d; padding-right: 15px; height: 13px; line-height: 13px; 
	margin-top: 10px; cursor: pointer;font-weight:bold;  
}

.header .navgation .nav_inner .categoryList .category .category_sub li .sub_name:hover{
	color:#f60;
}
.header .navgation .nav_inner .categoryList .category .category_sub li .sub_list{
	padding: 10px 0;
	width: 680px;
}

.header .navgation .nav_inner .categoryList .category .category_sub li .sub_list a{
	margin:10px 10px 10px 0px;
	padding-right: 10px;
	line-height: 30px;
	color: #666;
	white-space: nowrap;
}
.header .navgation .nav_inner .categoryList .category .category_sub li .sub_list a:hover{
	color:#f60;
}
.header .navgation .nav_inner .categoryList .fore1 {
	top: -1px;
}

.header .navgation .nav_inner .categoryList .fore1 .category_sub {
	top: 0px;
}

.header .navgation .nav_inner .categoryList .fore2 .category_sub {
	top: -62px;
}

.header .navgation .nav_inner .categoryList .fore3 .category_sub {
	top: -123px;
}

.header .navgation .nav_inner .categoryList .fore4 .category_sub {
	top: -184px;
}

.header .navgation .nav_inner .categoryList .fore5 .category_sub {
	top: -245px;
}

.header .navgation .nav_inner .categoryList .fore6 .category_sub {
	top: -306px;
}

.header .navgation .nav_inner .categoryList .fore7 .category_sub {
	top: -367px;
}

.header .navgation .nav_inner .categoryList .fore8 {
	height: 64px
}

.header .navgation .nav_inner .categoryList .fore8 .category_name {
	height: 64px;
}

.header .navgation .nav_inner .categoryList .fore8 .category_sub {
	top: -428px;
}

.header .navgation .nav_inner .categoryList .cur .category_name {
	border-top: 1px solid #5bc792;
	border-bottom: 1px solid #5bc792;
	height: 58px;
	background-color: #fff;
}

.header .navgation .nav_inner .categoryList .cur .category_sub {
	display: block;
}

.header .navgation .nav_inner .categoryList .fore8.cur .category_name {
	height: 64px;
}

.header .navgation .nav_inner .active .categoryList {
	display: block;
}

.header .navgation .nav_inner .main_menu {
	float: left;
	height: 39px;
}

.header .navgation .nav_inner .main_menu a {
	float: left;
	width: 120px;
	height: 39px;
	line-height: 39px;
	font-size: 15px;
	color: #fff;
	text-align: center;
}

.header .navgation .nav_inner .main_menu a:hover {
	background-color: #ff9432;
}

.header .navgation .nav_inner .main_menu a.cur {
	background-color: #ff9432;
}

.header .navgation .nav_inner .main_menu a.cur:hover {
	font-weight: normal;
}

.header .navgation .nav_inner .main_menu a.fir {
	width: 120px;
}

/*  --main--  */
.main {
	margin: 0 auto;
	width: 1200px;
	position: relative;
	z-index: 0;
}

.main_box {
	background-color: #fff;
}

/*  --footer--  */
.footer {
	min-width: 1200px;
}

.footer .promise {
	margin: 40px auto 0;
	width: 1200px;
	height: 110px;
}

.footer .promise li {
	float: left;
	width: 20%;
}

.footer .promise li .icon {
	display: block;
	height: 48px;
}

.footer .promise li .icon.promise_1 {
	background: url(../images/icon_bottom_1.png) center no-repeat;
	_background: url(../images/icon_bottom_1.gif) center no-repeat;
}

.footer .promise li .icon.promise_2 {
	background: url(../images/icon_bottom_2.png) center no-repeat;
	_background: url(../images/icon_bottom_2.gif) center no-repeat;
}

.footer .promise li .icon.promise_3 {
	background: url(../images/icon_bottom_3.png) center no-repeat;
	_background: url(../images/icon_bottom_3.gif) center no-repeat;
}

.footer .promise li .icon.promise_4 {
	background: url(../images/icon_bottom_4.png) center no-repeat;
	_background: url(../images/icon_bottom_4.gif) center no-repeat;
}

.footer .promise li .icon.promise_5 {
	background: url(../images/icon_bottom_5.png) center no-repeat;
	_background: url(../images/icon_bottom_5.gif) center no-repeat;
}

.footer .promise li h5 {
	margin: 10px 0 0;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #393939;
	text-align: center;
}

.footer .promise li p {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #9f9f9f;
	text-align: center;
}

.footer .help_bar {
	margin: 40px auto 0;
	width: 1200px;
	height: 140px;
	text-align:center;
	vertical-align: top;
}

.footer .help_bar li {
	vertical-align:top;
	display:inline-block;
	*zoom:1;
	*display:inline;
	max-width:130px;
	max-height:140px;
	margin: 10px 0 0;
	padding: 0 38px 10px;
	border-right: 1px solid #c7c7c7;
	*text-align: left;
	overflow:hidden;
}

.footer .help_bar li h5 {
	text-align: left;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #393939;
}

.footer .help_bar li p {
	height: 20px;
	line-height: 20px;
	text-align: left;
	color: #393939;
}

.footer .help_bar li.code {
	*width: 110px;
	margin: 0;
	padding: 0 0 0 68px;
	border: none;
}

.footer .help_bar li.code p {
	*text-align: center;
	height: 25px;
	line-height: 25px;
}

.footer .help_bar li.code img {
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 90px;
}
/*  友情链接  */
.footer .cooperation {
	display: none;
	padding: 20px;
	width: 1158px;
	margin: 30px auto 0;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ddd;
}

.footer .cooperation .cooperation_title {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

.footer .cooperation .cooperation_cont {
	padding: 10px 0 0;
	min-height: 25px;
	line-height: 25px;
}

.footer .cooperation .cooperation_cont a {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin: 0 15px 0 0;
	line-height: 25px;
	color: #666;
	white-space: nowrap;
}

.footer .bottom {
	margin: 40px 0 0;
	background-color: #fff;
	min-width: 1200px;
}

.footer .bottom .links {
	height: 28px;
	line-height: 28px;
	text-align: center;
}

.footer .bottom .links a {
	color: #9f9f9f;
	padding: 0 20px;
}

.footer .bottom .admission, .footer .bottom .copyright {
	color: #9f9f9f;
	text-align: center;
	line-height: 28px;
	height: 28px;
}

.footer .bottom .certs {
	margin: 10px 0 20px;
	text-align: center;
	height: 43px;
}

.footer .bottom .certs a {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	height: 43px;
	margin: 0 2px;
}

.footer .bottom .certs img {
	border: 1px solid #ccc;
}

/*  --弹出层--  */
/*popup_profile*/
.popup_profile {
	position: fixed;
	_position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/* _top:expression(eval(document.documentElement.scrollTop));
	_bottom:auto; */
	display: none;
	z-index: 99999998;
}
.popup_profile .bg {
	position: absolute;
	z-index: 99999999;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	background-color: #000;
}
.popup_profile .box {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 718px;
	height: 448px;
	margin: -225px 0 0 -360px;
	padding:0 20px 20px;
	background-color: #fff;
	border: solid 2px #d1d1d1;
	z-index: 100000000;
	*text-align:left;
}
.popup_profile .tit {
	height: 40px;
	border-bottom:2px solid #ebebeb;
	font: 12px/30px "Microsoft Yahei";
}
.popup_profile .tit .text{
	float:left;
	margin-bottom:-2px;
	padding:0 10px;
	height:40px;
	line-height:40px;
	position:relative;
	border-bottom:2px solid #396;
	font-size:16px;
	color:#396;
	letter-spacing: 2px;
}
.popup_profile .tit a.close {
	margin:10px 5px 0 0;
	float: right;
	width:20px;
	height:20px;
	background:url(../images/btn_close.gif) center no-repeat;
	text-indent:-10000px;
}
.popup_profile .cnt {
	margin:20px 0 0;
}
.popup_profile .cnt .popup_form{
}
.popup_profile .cnt .popup_form li{
	clear:both;
	margin:10px 0 0;
	min-height:28px;
	vertical-align:top;
}
.popup_profile .cnt .popup_form li label{
	float:left;
	padding:5px 0;
	width:100px;
	line-height:18px;
	text-align:right;
	position:relative;
	z-index:1;
}
.popup_profile .cnt .popup_form li label em{
	color:#f00;
	padding-right:5px;
}
.popup_profile .cnt .popup_form li .dom_box{
	margin-left:100px;
	position:relative;
	z-index:0;
	_margin-top:-16px;
}
/*  --弹出层--  */
/*popup_profile*/
.popup_profile {
	position: fixed;
	_position:absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	/* _top:expression(eval(document.documentElement.scrollTop));
	_bottom:auto; */
	display: none;
	z-index: 99999998;
}
.popup_profile .bg {
	position: absolute;
	z-index: 99999999;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	opacity: 0.5;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	background-color: #000;
}
.popup_profile .box {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 718px;
	height: 480px;
	margin: -225px 0 0 -360px;
	padding:0 20px 20px;
	background-color: #fff;
	border: solid 2px #d1d1d1;
	z-index: 100000000;
	*text-align:left;
}
.popup_profile .tit {
	height: 40px;
	border-bottom:2px solid #ebebeb;
	font: 12px/30px "Microsoft Yahei";
}
.popup_profile .tit .text{
	float:left;
	margin-bottom:-2px;
	padding:0 10px;
	height:40px;
	line-height:40px;
	position:relative;
	border-bottom:2px solid #396;
	font-size:16px;
	color:#396;
	letter-spacing: 2px;
}
.popup_profile .tit a.close {
	margin:10px 5px 0 0;
	float: right;
	width:20px;
	height:20px;
	background:url(../images/btn_close.gif) center no-repeat;
	text-indent:-10000px;
}
.popup_profile .cnt {
	margin:20px 0 0;
}
.popup_profile .cnt .popup_form{
}
.popup_profile .cnt .popup_form li{
	clear:both;
	margin:10px 0 0;
	min-height:28px;
	vertical-align:top;
}
.popup_profile .cnt .popup_form li label{
	float:left;
	padding:5px 0;
	width:100px;
	line-height:18px;
	text-align:right;
	position:relative;
	z-index:1;
}
.popup_profile .cnt .popup_form li label em{
	color:#f00;
	padding-right:5px;
}
.popup_profile .cnt .popup_form li .dom_box{
	margin-left:100px;
	position:relative;
	z-index:0;
	_margin-top:-16px;
}
.popup_profile .cnt .popup_form li .input_text{
	float:left;
	padding:0 5px !important;
	width:70% !important;
	height:26px !important;
	line-height:26px !important;
	border:1px solid #ddd;
}
.popup_profile .cnt .popup_form li select{
	float:left;
	min-width:50px;
	height:28px;
	line-height:28px;
	border:1px solid #ddd;
}
.popup_profile .cnt .popup_form li textarea{
	float:left;
	padding:5px 0 5px 5px;
	width:90% !important;
	height:100px;
	line-height:18px;
	border:1px solid #ddd;
	white-space:normal !important;
}
.popup_profile .cnt .popup_form li .text{
	float:left;
	width:auto;
	padding:5px 0 5px 10px;
	line-height:18px;
	white-space: nowrap;
}
.popup_profile .cnt .popup_form li label.error{
	float:left;
	width:auto;
	padding:5px 0 5px 10px;
	color:#f00;
	line-height:18px;
	white-space: nowrap;
}
.popup_profile .cnt .popup_form li .checkbox_box{
	padding:7px 0px;
	height:14px;
	width:auto;
}
.popup_profile .cnt .popup_form li .checkbox_box input{
	float:left;
	width:14px;
	height:14px;
}
.popup_profile .cnt .popup_form li .checkbox_box span{
	float:left;
	padding-left:5px;
	height:14px;
	font: 12px/14px;
	text-align:left;
}
.popup_profile .button_toolbar{
	margin:20px 0 0;
	height:28px;
	text-align:right;
}
.popup_profile .button_toolbar input{
	float:none !important;
	display:inline-block;
	*zoom:1;
	*display:inline;
	margin:0 0 0 20px;
	width:60px;
	height:28px;
	line-height:28px;
	color:#fff;
	border:none;
	background-color:#396;
}

.popup_profile .cnt p {
	font: 12px/48px "Microsoft Yahei";
	height: 48px;
	color: #f00;
}
.popup_profile .cnt dl {
	height: 24px;
	padding: 8px 0;
}

.popup_profile .cnt dt {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: 5px;
}

.popup_profile .cnt dt span {
	color: #f00;
	font-size: 16px;
	line-height: 20px;
}

.popup_profile .cnt dd {
	margin-left: 100px;
	color: #454545;
}

.popup_profile .cnt dd select {
	height: 22px;
	border: solid 1px #ddd;
	width: 120px;
}

.popup_profile .cnt dd input {
	height: 22px;
	border: solid 1px #ddd;
}

.popup_profile .cnt dd input.addr {
	width: 400px;
}

.popup_profile .cnt dd input.zipcode {
	width: 100px;
}

.popup_profile .cnt dd input.name {
	width: 160px;
}

.popup_profile .cnt dd input.phone {
	width: 180px;
}

.popup_profile .cnt dd input.tel {
	width: 180px;
}

.popup_profile .cnt dd label input {
	float: left;
	width: 14px;
	height: 14px;
	margin: 5px;
}

.popup_profile .cnt dd input.btn {
	height: 36px;
	width: 120px;
	font: 16px/36px "Microsoft Yahei";
	color: #fff;
	border: none;
	background-color: #396;
	cursor: pointer;
}
/*  --侧边栏--  */
.sidebar{
	position:fixed;
	right:0;
	top:180px;
	width:61px;
	height:262px;
}
.sidebar a{
	float:left;
	margin:0 0 6px;
	width:61px;
	height:61px;
	background:url(../images/sidebar_bg1.png) no-repeat;
	_background:url(../images/sidebar_bg1.gif) no-repeat;
}
.sidebar a:hover{
	background:url(../images/sidebar_bg2.png) no-repeat;
	_background:url(../images/sidebar_bg2.gif) no-repeat;
}
.sidebar a.conversation{
	background-position:0 0;
}
.sidebar a.conversation:hover{
	background-position:0 0;
}
.sidebar a.qq{
	background-position:0 -67px;
}
.sidebar a.qq:hover{
	background-position:0 -67px;
}
.sidebar a.consultation{
	background-position:0 -134px;
}
.sidebar a.consultation:hover{
	background-position:0 -134px;
}
.sidebar a.back{
	background-position:0 -201px;
}
.sidebar a.back:hover{
	background-position:0 -201px;
}


/*  ui_crumbs  */
.ui_crumbs {
	height:24px;
	padding:10px 0; 
	*text-align:left;
}
.ui_crumbs p {
	background:url(../../images/x1.png) no-repeat left center;
	padding-left:25px;
	line-height:24px;
}
.ui_crumbs p.usercenter {
	background:url(../../images/pic/usercenter_icon1.png) no-repeat left center;
	padding-left:25px;
	line-height:24px;
	font-size:13px;
}
.ui_crumbs p a.on{
	color:#396;
}


.cf {
	display: inline-block;
}
*html .cf {
	height: 1%;
}
.cf {
	display: block;
}
.cf:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
.tar {
	text-align:right;
}
.fl {
	float: left;
	display: inline;
}
.fr {
	float: right;
	display: inline;
}
.wrap {
	width: 1200px;
	margin: 0 auto;
}
.top-li-pop {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D1D1D1;
    box-shadow: 0 0 10px 1px #CCCCCC;
    display: none;
    height: 220px;
    left: 0;
    position: absolute;
    top: 30px;
    width: 200px;
    z-index: 52;
}
.top-li-pop h2 {
    border-bottom: 1px solid #339966;
    font-size: 14px;
    font-weight: lighter;
    height: 30px;
    line-height: 30px;
    margin: 0 10px;
    padding: 0 5px;
}
.top-scoll {
    height: 238px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
}
.mes-con {
    padding: 0 5px;
}
.Unread-mes {
    float: left;
    margin: 0;
}
.Unread-mes, .Set-mes, .Top-car {
    display: block;
    position: relative;
    width: 200px;
}
.top-scoll {
	width:180px;
    height: 190px;
    margin-top: 5px;
    overflow: hidden;
    padding: 0 10px;
    position: relative;
}
.mes-con a {
	width:160px;
    border-bottom: 1px dashed #DDDDDD;
    line-height: 18px;
    padding: 5px 0;
    position: relative;
}
.header .top .top_inner .links div {
	float:left;
    color: #545454;
}
.top-more {
    border-bottom: 3px solid #339966;
    bottom: 20px;
    color: #339966 !important;
    height: 20px;
    left: 50%;
    line-height: 20px;
    margin-left: -25px;
    position: absolute;
    text-align: center;
    width: 60px;
}

/**固定表格宽度，出现横向滚动条*/
.lark-full-width {
	width: 100%;
}
.lark-table-wrapper {
	width:100%;
}
.lark-scroll-x {
	overflow-x: auto;
}
.lark-t-lxs {
	width:30px;
}
.lark-t-xs {
	width:60px;
}
.lark-t-lsm {
	width:90px;
}
.lark-t-sm {
	width:120px;
}
.lark-t-lmd {
	width:135px;
}
.lark-t-md {
	width:150px;
}
.lark-t-llg {
	width:170px;
}
.lark-t-lg {
	width:200px;
}
.lark-t-lxl {
	width:250px;
}
.lark-t-xl {
	width:300px;
}
/** readonly元素背景灰色*/
.lark-readonly {
	background-color: #EEE !important;
}

/** 通知公告*/
.lark-notice-title {
	font: 16px/36px "Microsoft Yahei";
}
.lark-notice-list { }
.lark-notice-list li {
	padding-left:15px;
	height:34px;
	line-height:34px;
	border-bottom: dashed 1px #b7b7b7;
	background:url(../images/icon_point.png) left center no-repeat
}
.lark-notice-list li a {
	float:left;
	line-height:34px;
	color:#666;
}
.lark-notice-list li a:hover {
	font-weight: bold;
}
.lark-notice-list li span {
	float:right;
	line-height:34px;
	color:#666;
}

