@charset "utf-8";
/* CSS Document */
*{padding: 0;margin: 0;}
*html{background-image:url(about:blank);background-attachment:fixed;}
body {width:100%;height:100%;font: 12px 'microsoft yahei', 'simsun';color: #545454;min-width: 1200px;*text-align: center;}
ul, li, ol {list-style: none;}
img {vertical-align: top;border: none;}
h1, h2, h3, h4, h5, h6, strong {font-weight: normal;font-size: 100%;}
u, em, i {font-style: normal;text-decoration: none;}
input, textarea, select {resize: none;background: #fff;color: #545454;}
input[type=button]{cursor:pointer;}
a, a:visited {font-size: 12px;color: #545454;text-decoration: none;outline: none;}
a:hover {color: #396;}
.clear{clear:both;}
/*  --header--  */
.header {background-color: #fff;position: relative;z-index: 1;}
.header .top {width: 100%;height: 30px;background-color: #f5f5f5;border-bottom: 1px solid #e9e9e9;}
.header .top .top_inner {height: 30px;line-height: 30px;width: 1200px;margin: 0 auto;}
.header .top .top_inner .links {float: right;height: 32px;line-height: 32px;}
.header .top .top_inner .links a {padding: 0 5px;color: #545454;}
.header .top .top_inner .links a:hover {color: #396;}
/* 头部的第一部分，结束 */
.header .inner {margin: 0 auto;width: 1200px;height: 107px;position: relative;}
.header .inner .logo {margin: 29px 0 0;}
.header .inner .logo a, .header .inner .logo {float: left;width:295px;height:49px;}
.header .inner .logo a {background: url(../login.images/logo.png) 0 0 no-repeat;text-indent: -10000px;}
.header .inner .search {float: left;margin: 35px 0 0 50px;width: 520px;height: 60px;}
.header .inner .search .search_form {height: 36px;}
.header .inner .search .search_form .input_text {float: left;padding: 0 10px;width: 80%;height: 34px;font-size: 14px;line-height: 34px;border: 1px solid #396;}
.header .inner .search .search_form .input_button {float: left;width: 78px;height: 36px;background-color: #396;color: #fff;font-size: 14px;border: none;}
.header .inner .search .hot_words {height: 24px;line-height: 24px;color: #396;text-align: left;float: left;overflow:hidden;}
.header .inner .search .hot_words a {color: #396;padding: 0 5px;}
.header .inner .top_text {float: right;margin: 35px 0 0;height: 41px;}
.header .inner .top_text .hotline {padding: 0 0 0 35px;height: 21px;line-height: 21px;color: #396;background: url(../login.images/icon_cs.png) 0 center no-repeat;}
.header .inner .top_text .hotline strong {color: #ff9432;font-size: 14px;}
.header .inner .payinfo_lr em {font: bold 24px/24px "Microsoft Yahei";color: #339966;}
/* 第二部分搜索栏那部分结束 */
.header .navgation {height: 39px;background-color: #396;position: relative;z-index: 2;overflow: visible;}
.header .navgation .nav_inner {margin: 0 auto;width: 1200px;height: 39px;position: relative;}
.header .navgation .nav_inner .btn_category {float: left;width: 216px;height: 39px;position: relative;}
.header .navgation .nav_inner .btn_category em {float: left;width: 216px;height: 39px;line-height: 39px;text-align: center;font-size: 15px;color: #fff;cursor: pointer;}
.header .navgation .nav_inner .main_menu{float: left;height: 39px;}
.header .navgation .nav_inner .main_menu a{float: left;width: 120px;height: 39px;line-height: 39px;font-size: 15px;color: #fff;text-align: center;}
.header .navgation .nav_inner .main_menu a:hover{background: #ff9432;}
/*第三部分头部结束 */
/*  分类列表  */
.main {margin: 0 auto;width: 1200px;position: relative;z-index: 0;}
.ui_crumbs {height: 24px;padding: 10px 0;}
.ui_crumbs p {background: url(../login.images/x1.png) no-repeat left center;padding-left: 25px;line-height: 24px;}
.ui_crumbs p a{font-size: 12px;color: #545454;}
.filter_item {border: solid 1px #c0dbc2;}
.filter_item dl {height: 34.4px;clear: both;width: 100%;line-height: 35px;border-bottom: solid 1px #c0dbc2;background-color: #f4fcf3;color: #216343;}
.filter_item dt {float: left;width: 91px;text-align: right;padding-right: 6px;border-right: solid 1px #c0dbc2;}
.filter_item dd {float: right;width: 1078px;padding: 0 10px;background-color: #fff;height: 34px;color: #0a7c63;overflow: hidden;}
.filter_item dd ul {width: 940px;font-size: 0;}
.filter_item dd li {height: 20px;overflow: hidden;padding: 0 10px 7px 0;font-size: 12px;display: inline-block;vertical-align: top;}
.filter_item dd li a{padding: 1px 5px;color: #0a7c63;border:1px solid #fff;} .filter_item dd li:hover a{border-color:#8cb920;}
.filter_item dl.result_search dt {background-color: #9fdda4;color: #fff;}
.filter_item dl.result_search dd {background-color: #f4fcf3;padding-left: 10px;}
.filter_item dl.result_search dd span {float: left;}
.filter_item dl.result_search dd input {float: left;height: 20px;line-height: 20px;width: 150px;margin: 6px 15px 0px 3px;font-size: 12px;padding: 0 6px;}
input, textarea, select {resize: none;background: #fff;color: #545454;}
.filter_item dl.result_search dd a {float: left;width: 60px;height: 22px;font: bold 12px/20px "Microsoft Yahei";text-align: center;color: #fff;background-color: #ff570d;margin-top: 6px;border-radius: 3px;}
/* 分类列表简写结束 */
											/* 商品列表 */
.result{clear: both;}
.result .tabcnt{width: 990px;float: left;height:2640px;}
/* .result .tabcnt{background:black;} */
.result .frameright{width: 200px;float: right;border: 1px solid #c0dbc2;margin-top: 10px;}
.result .frameright h2{width: 190px;height: 38px;line-height: 38px;font-size: 12px;padding-left: 10px;color: #868585;background-color: #EFEFEF;font-weight: 400;}
.result .frameright img{height:290px;width:202px;display: block;cursor:pointer;}
/* json渲染页面的部分 */
.result .tabcnt .table dl{margin-top:10px;}
.result .tabcnt .table dl .dlbox{padding:10px;border: solid 1px #c1dbc2;height: 100px;width: 965px;}
.result .tabcnt .table dl dt{float: left;margin-right: 15px;width: 100px;height: 100px;}
.result .tabcnt .table dl dt img{display: block;width: 100%;height: 100%;border: solid 1px #f2f2f2;}
.result .tabcnt .table dl dd{float: left;width: 240px;padding-left: 1px;}
.result .tabcnt .table dl dd h4{padding: 15px 0 15px 0;font-size: 16px;color: #359869;font-weight: bold;line-height: 10px;}
.result .tabcnt .table dl dd p{line-height: 20px;}
.result .tabcnt .table dl .dd-two{margin-top:40px;}
.result .tabcnt .table dl .msg{margin:50px 0 0 150px;float: left;}
.result .tabcnt .table dl .msg p{padding: 0 5px;cursor:pointer;line-height: 25px;background-color: #17c390;border-radius: 2px;color: #fff;text-align: center;}
.result .tabcnt .table dl .msg p:hover{background-color: #0bab7b;}
/* json渲染页面的部分结束 */
.main .page{padding:30px 0;text-align:center;}
.main .page .span{display: inline-block;padding: 5px 8px;border: solid 1px #e3e3e3;font-family: "arial";margin: 0 2px;}
.main .page span input{margin: 0 8px;padding: 0px;text-align: center;font-size: 12px;width:52px;height: 20px;border: solid 1px #ababab;}
.main .page span a	{width: 50px;display: inline-block;padding:5px 8px;margin-left:5px;border-radius:4px;border: none;height: 22px;line-height: 22px;background: #339a67;color: #fff;}
/* 显示第几页的哪个部分，结束 */
/* footer部分 */
.footer .promise {margin: 40px auto 0;width: 1200px;height: 110px;}

.footer .promise li {float: left;width: 20%;}

.footer .promise li .icon {display: block;height: 48px;}
.footer .promise li:nth-child(1) span{background: url(../login.images/icon_bottom_1.png) center no-repeat;}

.footer .promise li:nth-child(2) span{background: url(../login.images/icon_bottom_2.png) center no-repeat;}

.footer .promise li:nth-child(3) span{background: url(../login.images/icon_bottom_3.png) center no-repeat;}

.footer .promise li:nth-child(4) span{background: url(../login.images/icon_bottom_4.png) center no-repeat;}

.footer .promise li:nth-child(5) span{background: url(../login.images/icon_bottom_5.png) center no-repeat;}

.footer .promise li h5 {
	margin: 10px 0 0;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	color: #393939;
	text-align: center;
}

.footer .promise li p {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #9f9f9f;
	text-align: center;
}

.footer .help_bar {
	margin: 40px auto 0;
	width: 1200px;
	height: 140px;
	text-align:center;
	vertical-align: top;
}

.footer .help_bar li {
	vertical-align:top;
	display:inline-block;
	*zoom:1;
	*display:inline;
	max-width:130px;
	max-height:140px;
	margin: 10px 0 0;
	padding: 0 38px 10px;
	border-right: 1px solid #c7c7c7;
	*text-align: left;
	overflow:hidden;
}

.footer .help_bar li h5 {
	text-align: left;
	font-size: 14px;
	height: 25px;
	line-height: 25px;
	color: #393939;
}

.footer .help_bar li p {
	height: 20px;
	line-height: 20px;
	text-align: left;
	color: #393939;
}

.footer .help_bar li.code {
	*width: 110px;
	margin: 0;
	padding: 0 0 0 68px;
	border: none;
}

.footer .help_bar li.code p {
	*text-align: center;
	height: 25px;
	line-height: 25px;
}

.footer .help_bar li.code img {
	display: block;
	margin: 0 auto;
	width: 90px;
	height: 90px;
}
/*  友情链接  */
.footer .cooperation {
	display: none;
	padding: 20px;
	width: 1158px;
	margin: 30px auto 0;
	text-align: left;
	background-color: #fff;
	border: 1px solid #ddd;
}

.footer .cooperation .cooperation_title {
	height: 20px;
	line-height: 20px;
	font-size: 14px;
	color: #000;
	font-weight: bold;
}

.footer .cooperation .cooperation_cont {
	padding: 10px 0 0;
	min-height: 25px;
	line-height: 25px;
}

.footer .cooperation .cooperation_cont a {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	margin: 0 15px 0 0;
	line-height: 25px;
	color: #666;
	white-space: nowrap;
}

.footer .bottom {
	margin: 40px 0 0;
	background-color: #fff;
	min-width: 1200px;
}

.footer .bottom .links {
	height: 28px;
	line-height: 28px;
	text-align: center;
}

.footer .bottom .links a {
	color: #9f9f9f;
	padding: 0 20px;
}

.footer .bottom .admission, .footer .bottom .copyright {
	color: #9f9f9f;
	text-align: center;
	line-height: 28px;
	height: 28px;
}

.footer .bottom .certs {
	margin: 10px 0 20px;
	text-align: center;
	height: 43px;
}

.footer .bottom .certs a {
	display: inline-block;
	*zoom: 1;
	*display: inline;
	height: 43px;
	margin: 0 2px;
}

.footer .bottom .certs img {
	border: 1px solid #ccc;
}




















